<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>event</key>
		<string>George Lucas recruits EdCatmull to head Lucasfilm&apos;s Computer Division</string>
		<key>year</key>
		<string>1979</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>John Lasseter becomes an Interface designer for Lucasfilm Computer Division </string>
		<key>year</key>
		<string>1983</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Steve Jobs purchases the Lucasfilm&apos;s Computer Graphics Division and establishes Pixar</string>
		<key>year</key>
		<string>1986</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Short film &quot;Red&apos;s Dream&quot; directed by John Lasseter premieres</string>
		<key>year</key>
		<string>1987</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Red%27s_Dream</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Short film &quot;Knick Knack&quot; is completed.  It Pixar&apos;s first animaton produced in stereoscopic 3D.</string>
		<key>year</key>
		<string>1989</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Knick_Knack</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Disney and Pixar announce an agreement to make and distribute at least one film together.</string>
		<key>year</key>
		<string>1991</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>The world&apos;s first computer animated film, Toy Story, premieres</string>
		<key>year</key>
		<string>1995a</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Toy_Story</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Short film, &quot;Geri&apos;s Game&quot;, premieres at in Santa Monica</string>
		<key>year</key>
		<string>1997</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Geri%27s_Game</string>
	</dict>
	<dict>
		<key>event</key>
		<string>A Bugs Life premieres</string>
		<key>year</key>
		<string>1998</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/A_Bug%27s_Life</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Toy Story 2 breaks box-office opening weekend records in the United States, United Kingdom, and Japan</string>
		<key>year</key>
		<string>1999</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Toy_Story_2</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Randy Newman wins Oscar for &quot;If I Didn&apos;t Have You,&quot; from the Monsters, Inc. soundtrack</string>
		<key>year</key>
		<string>2001</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Monsters,_Inc.</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Finding Nemo arrives in theaters</string>
		<key>year</key>
		<string>2003</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Finding_Nemo</string>
	</dict>
	<dict>
		<key>event</key>
		<string>The Incredibles is released in theaters and breaks all of Pixar&apos;s box office records its first weekend</string>
		<key>year</key>
		<string>2004</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Incredibles</string>
	</dict>
	<dict>
		<key>event</key>
		<string>20th Anniversary of Pixar</string>
		<key>year</key>
		<string>2006</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Ratatouille is released in theaters and wins the Oscar for Best Animated Feature</string>
		<key>year</key>
		<string>2007</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ratatouille_(film)</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Wall-E is released accompanied by short film, &quot;Presto&quot;.  Both win Academy Awards.</string>
		<key>year</key>
		<string>2008</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/WALL-E</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Up opens wins Academy Awards for Best animated Feater Film and Best Original Score</string>
		<key>year</key>
		<string>2009</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Up_(2009_film)</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Toy Story 3 hits theaters becoming the highest grossing animated film of all time</string>
		<key>year</key>
		<string>2010</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Toy_Story_3</string>
	</dict>
	<dict>
		<key>event</key>
		<string>John Lasseter receives the Producers Guild of America&apos;s David O. Selznick Achievement Award in Motion Pictures</string>
		<key>year</key>
		<string>2010</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/John_Lasseter</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Brave is released in theaters and wins Academy Award for Best Animated Feature Film</string>
		<key>year</key>
		<string>2012</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Brave_(2012_film)</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Inside Out out arrives in theaters accompanied by short film, &quot;Lava&quot;</string>
		<key>year</key>
		<string>2015</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Inside_Out_(2015_film)</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Finding Dory premieres and becomes the highest-grossing animated debut of all time</string>
		<key>year</key>
		<string>2016</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Finding_Dory</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Alexander Schure establishes the Computer Graphics Lab desiring to create the world&apos;s first computer-animated film</string>
		<key>year</key>
		<string>1974</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Pixar sells hardware division and switches its focus to animation</string>
		<key>year</key>
		<string>1990b</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
	<dict>
		<key>event</key>
		<string>Pixar goes public and takes place as the highest IPO of the year</string>
		<key>year</key>
		<string>1995</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pixar</string>
	</dict>
</array>
</plist>
